<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanisin.sims.model.mapper.UserMapper">
    <insert id="insertUser">
        INSERT INTO user(user_id,
                           user_password,
                           superManager)
        VALUES (#{user_id}, #{user_password}, #{superManager})
    </insert>

    <update id="updateUser">
        UPDATE user
        SET user_password = #{user_password}, superManager = #{superManager}
        WHERE user_id = #{user_id}
    </update>

    <delete id="deleteUserById">
        DELETE FROM user WHERE user_id = #{user_id}
    </delete>

    <select id="selectUserById" resultType="com.yanisin.sims.model.bean.User">
        SELECT * FROM user WHERE user_id = #{user_id}
    </select>

    <select id="selectAllUser" resultType="com.yanisin.sims.model.bean.User">
        SELECT * FROM user
    </select>

    <select id="checkLogin" resultType="boolean">
        SELECT COUNT(*) FROM user WHERE user_id = #{user_id} AND user_password = #{user_password}
    </select>

    <select id="isSuperManager" resultType="boolean">
        SELECT superManager FROM user WHERE user_id = #{user_id}
    </select>
</mapper>